body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.page{
    background-color: rgb(194, 191, 191);
    display: flex;
    width: 1350px;
    height: 640px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.main{
    width: 70%;
    height: 60%;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.box-left{
    display: flex;
    height: 70%;
    width: 45%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 40px;
}
img{
    height: 50px;
    width: 50px;
}
h1{
    font-size: 35px;
    font-weight: 500;
    color: rgb(70, 69, 69);
}
p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(97, 94, 94);
    margin-top: -5PX;
}
.box-right{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 45%;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 60px;
    margin-left: 20px;
}
input{
    height: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid rgb(65, 64, 64);
    margin-top: 30px;
}
button{
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    width: 80px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    border: 1px solid transparent;
    margin-top: 60px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    padding: 0 20px;
    box-sizing: border-box;
}
.one{
    display: flex;
}
.two{
    display: flex;
    gap: 20px;
}